vendor/*
!vendor/.gitkeep
artifacts/*
!artifacts/.gitkeep

*.image
*.changes
*.sources
*.log
*.fuel
*.ombu
*.bak
*.py[co]
**/__pycache__/

pharo-local/
gt-local/
private/
tmp/
export/
legacy/klibert_pl/
